*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid {
    background-image: linear-gradient(to bottom, black, rgb(19, 14, 71) , black);
}

.home{
    color: white;
}

.card:hover{
    scale: 1.01;
}

.colorNav{
    color: #FFF455;
}